/ChaosFactionClient/Library/
/ChaosFactionClient/Logs
/ChaosFactionClient/Temp
/ChaosFactionClient/UserSettings
/ChaosFactionClient/obj
/.idea


/ChaosFactionClient/.vsconfig
/ChaosFactionClient/.vs/
/ChaosFactionClient/.vscode/


/ChaosFactionServer/src/obj
/ChaosFactionServer/src/bin

/ChaosFactionServer/.vsconfig
/ChaosFactionServer/.vs/
/ChaosFactionServer/.vscode/



.vsconfig
.vs/
.vscode/