/ChaosFactionClient/Library/
/ChaosFactionClient/Logs
/ChaosFactionClient/Temp
/ChaosFactionClient/UserSettings
/ChaosFactionClient/obj
/.idea


/ChaosFactionClient/.vsconfig
/ChaosFactionClient/.vs/
/ChaosFactionClient/.vscode/


/ChaoFactionServer/src/obj
/ChaoFactionServer/src/bin

/ChaoFactionServer/.vsconfig
/ChaoFactionServer/.vs/
/ChaoFactionServer/.vscode/